html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

TEXTAREA, INPUT {
	box-sizing: border-box;
}
INPUT {
	height: 28px;
}

.cot_login, .cot_new_user {
	width: 300px;
	margin: auto;
}

@media (max-width: 480px) {
	.wide-only {
		display: none !important;
	}
	.cot_login FORM, .cot_new_user FORM {
		margin-bottom: 8px;
	}
	.cot_new_user INPUT[type="text"],
	.cot_new_user INPUT[type="email"],
	.cot_new_user INPUT[type="password"] {
		width: 49%;
	}
}
@media (min-width: 481px) {
	.thin-only {
		display: none !important;
	}
}

.item_breakdown TD:first-child {
	text-align: right;
}


/* front page / map bits */
.form TD {
	text-align: center;
}
.form INPUT[type="text"],
.form INPUT[type="button"],
.form INPUT[type="submit"] {
	width: 100%;
}
#title H1 {
	margin: 0px;
}

#map.full {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 0;
}
#title, #links, #search {
	position: absolute;
	z-index: 1;
	background: #fff;
	opacity: 0.9;
	padding: 8px;
}
#title {
	top: 0px;
	left: 50px;
	border-radius: 0px 0px 8px 8px;
	text-align: center;
}
#search {
	top: 0px;
	right: 50px;
	border-radius: 0px 0px 8px 8px;
	text-align: center;
}
#links {
	bottom: 0px;
	left: 50px;
	border-radius: 8px 8px 0px 0px;
}
.review {
	font-size: 1em;
	width: 250px;
}
.review .writer {
	text-align: center;
}
.review TD {
	vertical-align: top;
}

.advanced {
	display: none;
}
.trio TD:first-child {
	text-align: right;
}
.trio TD:last-child {
	text-align: left;
}
