<div data-role="page" id="top">
	<div data-role="header">
		<h1>RHRN</h1>
	</div><!-- /header -->
	<div data-role="content">	
		<ul data-role="listview" data-inset="true">
			<li><a href="#" onclick="newReview();">Review This Spot</a></li>
			<li><a href="#" onclick="findLocal();">Read Nearby Reviews</a></li>
		$if session.user.name == "Anonymous":
			<li><a class="janrainEngage" href="#">Sign In</a></li>
		$else:
			<li><a href="/dashboard/logout" data-ajax="false">Log Out</a></li>
		$#endif
			<li><a href="http://www.ratehereratenow.com/" data-ajax="false">Desktop View</a></li>
		</ul>
	</div><!-- /content -->
	<!--
	<div data-role="footer">
		<h1>Logged in as $session.user.name</h1>
	</div>
	-->
</div><!-- /page -->

<div data-role="page" id="login">
	<div data-role="header">
		<a href="/" data-icon="back" data-rel="back">Back</a>
		<h1>Log In</h1>
	</div><!-- /header -->
	<div data-role="content">	
		<form action="/dashboard/login" method="POST" data-ajax="false">
			<ul data-role="listview" data-inset="true">
				<li><input type="text" name="name" placeholder="Username"></li>
				<li><input type="password" name="password" placeholder="Password"></li>
				<li><input type="submit" value="Log In"></li>
			</ul>
		</form>
	</div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="create">
	<div data-role="header">
		<a href="/" data-icon="back" data-rel="back">Back</a>
		<h1>New Account</h1>
	</div><!-- /header -->
	<div data-role="content">	
		<form action="/dashboard/new" method="POST" data-ajax="false">
			<ul data-role="listview" data-inset="true">
				<li><input type="text" name="name" placeholder="Username"></li>
				<li><input type="text" name="email" placeholder="Email"></li>
				<li><input type="password" name="password1" placeholder="Password"></li>
				<li><input type="password" name="password2" placeholder="Repeat Password"></li>
				<li><input type="submit" value="Create"></li>
			</ul>
		</form>
	</div><!-- /content -->
</div><!-- /page -->
