$def with (id, lat, lon)

<div data-role="page" id="review">
	<div data-role="header">
		<a href="/" data-icon="back" data-rel="back">Back</a>
		<h1>New Review</h1>
		<a href="#" onclick="jQuery('.simple').toggle(); jQuery('.advanced').toggle();">Advanced</a>
	</div><!-- /header -->
	<div data-role="content">
		<!--
		<fieldset data-role="controlgroup" data-type="horizontal">
			<label>Simple <input type="radio" onclick="jQuery('.advanced').hide(); jQuery('.simple').show();" checked></label>
			<label>Advanced <input type="radio" onclick="jQuery('.simple').hide(); jQuery('.advanced').show();"></label>
		</fieldset>
		-->

		<form action="/review" method="POST" id="review_form" data-ajax="false">
			<input type="hidden" name="lon" id="rlon" value="$lon">
			<input type="hidden" name="lat" id="rlat" value="$lat">

			<fieldset data-role="controlgroup" data-type="horizontal" class="row_b2">
				<label>
					<img src="/static/img/happy.png">
					<br><input type="radio" name="happy" value="true" required>
				</label>
				<label>
					<img src="/static/img/sad.png">
					<br><input type="radio" name="happy" value="false" required>
				</label>
			</fieldset>

			<input type="text" name="comment" placeholder="Optional: add a comment">

			<fieldset data-role="controlgroup" data-type="horizontal" class="advanced row_b3">
				<label>Quiet <input type="radio" name="volume" value="0.0"></label>
				<label><input type="radio" name="volume" value="0.5">&nbsp;</label>
				<label><input type="radio" name="volume" value="1.0"> Loud</label>
			</fieldset>
			<fieldset data-role="controlgroup" data-type="horizontal" class="advanced row_b3">
				<label>Safe <input type="radio" name="danger" value="0.0"></label>
				<label><input type="radio" name="danger" value="0.5">&nbsp;</label>
				<label><input type="radio" name="danger" value="1.0"> Dangerous</label>
			</fieldset>
			<fieldset data-role="controlgroup" data-type="horizontal" class="advanced row_b3">
				<label>Empty <input type="radio" name="crowds" value="0.0"></label>
				<label><input type="radio" name="crowds" value="0.5">&nbsp;</label>
				<label><input type="radio" name="crowds" value="1.0"> Crowded</label>
			</fieldset>
			<!--
		$if session.user.name != "Anonymous":
			<label><input type="checkbox" name="anon"> Submit anonymously</label>
		$#endif
			-->

			<input id="submit" type="Submit" value="Rate this spot">
		</form>
	</div><!-- /content -->
</div><!-- /page -->
