$def with(rs, lon, lat)
<div data-role="page" id="page-review-list">
	<div data-role="header">
		<a href="/" data-icon="back" data-rel="back">Back</a>
		<h1>Reviews</h1>
	</div><!-- /header -->
	<div data-role="content">	
		<ul data-role="listview" data-inset="true" data-filter="true">
		$for r in rs:
			<li>
			<!--
			$if r.happy:
				<img src="/static/img/happy.png" class="ul-li-icon">
			$else:
				<img src="/static/img/sad.png" class="ul-li-icon">
			$#endif
			-->
			$r.content
			<br><i>$ll_to_metric(lon, lat, r.lon, r.lat) - $r.writer - $shorten_datetime(r.date_posted)</i>
			</li>
		$#endif
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
