<div class="row">
	<div class="span6 offset3">
		<h2>What's it all about?</h2>
		<p>Long story short, I was looking at moving to a new town,
		and I wanted to know which parts of the town would be nice
		to live in.
		<p>Thinking that maybe other people want to know about nice
		places too, I made an app to collect micro-reviews; hopefully
		we can collectively review the whole world :3
	</div>
</div>

<p>&nbsp;

<div class="row">
	<div class="span6 offset3">
		<h2>What's the plan?</h2>
		<p>The plan is to make a heat map, so the nicest countries glow
		green and the troubled ones glow red; then you can zoom in and
		see different glows for different towns; then zoom in further
		and see eg different restaurants in a high street glowing different
		colours :3
	</div>
</div>

<p>&nbsp;

<div class="row">
	<div class="span6 offset3">
		<h2>What do I add?</h2>
		<p>Anyplace and everyplace that makes you happy or sad~
	</div>
</div>
<div class="row">
	<div class="span3 offset3">
		<h3>Happy examples</h3>
		<ul>
			<li>A lovely view</li>
			<li>Friendly neighbours</li>
			<li>Comfortable seating</li>
		</ul>
	</div>
	<div class="span3">
		<h3>Sad examples</h3>
		<ul>
			<li>Street fights</li>
			<li>Bike theft hotspots</li>
			<li>Noisy late-night factories</li>
		</ul>
	</div>
</div>

<p>&nbsp;

<div class="row">
	<div class="span6 offset3">
		<h2>What if someone else already reviewed a place?</h2>
		<p>You add your own comments too; then when the happiest
		places are searched for, the area will get a higher score :-)
	</div>
</div>
