$def with (page)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rate Here, Rate Now</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Nano-reviews of everything, everywhere">
		<meta name="author" content="Shish">

		<meta property="og:title" content="Rate Here, Rate Now">
		<meta property="og:description" content="Nano-reviews of everything, everywhere">
		<meta property="og:image" content="http://www.ratehereratenow.com/static/img/happy256.png">
		<meta property="og:url" content="http://www.ratehereratenow.com/">

		<!-- Le styles -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/rhrn.css" rel="stylesheet">
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

		<link rel="stylesheet" href="/static/css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="/static/css/leaflet.ie.css" />
		<![endif]-->

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/static/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
			$if page.get("fullscreen", False):
				<div class="container-fluid">
			$else:
				<div class="container">
			$#endif
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Rate Here, Rate Now</a>
				$if session.user.name == "Anonymous":
					<div class="btn-group pull-right">
						<a class="btn janrainEngage" href="#">
							<i class="icon-user"></i> Sign In
							<span class="caret"></span>
						</a>
					</div>
				$else:
					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							$if session.user.avatar:
								<img src="$session.user.avatar" width="14" height="14" />
							$else:
								<i class="icon-user"></i>
							$session.user.name
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/dashboard"><i class="icon-home"></i> Dashboard</a></li>
							<!--
							<li><a href="/user/$session.user.name"><i class="icon-user"></i> Profile</a></li>
							<li><a href="/settings"><i class="icon-wrench"></i> Settings</a></li>
							-->
							<li class="divider"></li>
							<form action="/dashboard/logout" method="POST" id="logout_form" style="margin-bottom: 0px;">
							</form>
							<li><a href="#" onclick="$$('#logout_form').submit(); return false;"><i class="icon-off"></i> Sign Out</a></li>
						</ul>
					</div>
				$#endif
				$if page.get("search", False):
					<form class="navbar-form pull-right">
						<input type="text" placeholder="Search for a location" id="loc_search" style="width: 20em;">
						<select id="filter" onchange="refreshMap();" style="width: 10em;">
							<option value="all">All reviews</option>
							<option value="notanon">Non-anonymous</option>
						$if session.user.name != "Anonymous":
							<option value="my">My reviews</option>
							<option value="notme">Everyone else's</option>
						$#endif
						</select>
					</form>
				$#endif
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="http://m.ratehereratenow.com">Mobile</a></li>
							<li><a href="/about">About</a></li>
						$if page.get("tweet", False):
							<li>&nbsp;&nbsp;<span style="position: relative; top: 8px;">
								<a href="https://twitter.com/share" data-text="Nano-reviews for your area; rate here, rate now -" data-related="shish2k:Site programmer" class="twitter-share-button" data-lang="en">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</span></li>
						$#endif
						</ul>
					</div><!--/.nav-collapse -->
				$if session.user.name == "Shish":
					<form class="navbar-form pull-left">
						<label>
							<input type="checkbox" id="heat_toggle">
							Heat Map
						</label>
					</form>
				$#endif
				</div>
			</div>
		</div>

		<div class="container body">
		$for type, msg in session.flash:
			<div class="alert alert-$type">
				<a class="close" data-dismiss="alert" href="#">X</a>
				<!--<h4 class="alert-heading">Warning!</h4>-->
				$msg
			</div>
		$ flash_clear()

			$:page

		$if not page.get("fullscreen", False):
			<div class="row">
				<div class="span12">
					<hr>

					<footer>
						<p>RHRN Software &copy; Shish 2013;
						review data <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">CC-BY-SA</a></p>
					</footer>
				</div>
			</div>
		$#endif
		</div><!--/.fluid-container-->

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery.cookie.js"></script>
		<script src="/static/js/bootstrap-dropdown.js"></script>
		<script src="/static/js/bootstrap-button.js"></script>
		<script src="/static/js/leaflet.js"></script>
		<script src="/static/js/oms.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
		<script src="/static/js/rhrn.js"></script>
		<script>
var rhrn_username = "$session.user.name";
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-40520144-1']);
			_gaq.push(['_setDomainName', 'ratehereratenow.com']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
